doctype html
html
  head
    title= title
    script(type='text/javascript').
      var getHashParams = function() {
          var hashParams = {};
          var e,
              a = /\+/g,  // Regex for replacing addition symbol with a space
              r = /([^&;=]+)=?([^&;]*)/g,
              d = function (s) { return decodeURIComponent(s.replace(a, " ")); },
              q = window.location.hash.substring(1);

          while (e = r.exec(q))
             hashParams[d(e[1])] = d(e[2]);

          return hashParams;
      }
      // response from IMS comes in window.location.hash with params: expires_in, token_type,  access_token
      var ims_response = getHashParams();
      console.log(ims_response);
      // store the access token on the server
      if  (typeof ims_response.access_token !== "undefined" && ims_response.access_token !== null) {
        window.location.href = window.location.origin + window.location.pathname + window.location.search + "&access_token=" + ims_response.access_token + "&expires_in=" + ims_response.expires_in;
      } else {
        // TODO: show a custom error b/c login doesn't work
        console.log("Could not log in");
      }

  body
    block content